Shared/Libraries/WSDL2ObjC/SchWS_WishListService_QA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://services.ebooks.schws.scholastic.com" xmlns:ax21="http://beans.ebooks.schws.scholastic.com/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://services.ebooks.schws.scholastic.com">
    <wsdl:documentation>WishListService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax22="http://beans.ebooks.schws.scholastic.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.ebooks.schws.scholastic.com">
            <xs:import namespace="http://beans.ebooks.schws.scholastic.com/xsd"/>
            <xs:element name="DeleteWishListItems">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="spsIdParam" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="profileItemList" nillable="true" type="ax22:WishListProfileItem"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DeleteWishListItemsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:WishListStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AddItemsToWishList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="spsIdParam" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="profileItemList" nillable="true" type="ax22:WishListProfileItem"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AddItemsToWishListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:WishListStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetWishListItems">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="spsIdParam" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="profileIdList" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetWishListItemsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:WishList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DeleteWishList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="spsIdParam" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="profileIdList" nillable="true" type="ax22:WishListProfile"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DeleteWishListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:WishListStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.ebooks.schws.scholastic.com/xsd">
            <xs:complexType name="WishListProfileItem">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="itemList" nillable="true" type="ax21:WishListItem"/>
                    <xs:element minOccurs="0" name="profile" nillable="true" type="ax21:WishListProfile"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WishListItem">
                <xs:sequence>
                    <xs:element minOccurs="0" name="author" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="initiatedBy" nillable="true" type="ax21:InitiatedByEnum"/>
                    <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="timeStamp" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InitiatedByEnum">
                <xs:sequence>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WishListProfile">
                <xs:sequence>
                    <xs:element minOccurs="0" name="profileID" type="xs:long"/>
                    <xs:element minOccurs="0" name="profileName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="timestamp" nillable="true" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WishListStatus">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="profileStatusList" nillable="true" type="ax21:WishListProfileStatus"/>
                    <xs:element minOccurs="0" name="spsID" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="wishListError" nillable="true" type="ax21:WishListError"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WishListProfileStatus">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="itemStatusList" nillable="true" type="ax21:WishListItemStatus"/>
                    <xs:element minOccurs="0" name="profileError" nillable="true" type="ax21:WishListError"/>
                    <xs:element minOccurs="0" name="profileID" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WishListItemStatus">
                <xs:sequence>
                    <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="itemError" nillable="true" type="ax21:WishListError"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WishListError">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorCode" type="xs:int"/>
                    <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WishList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="profileItemList" nillable="true" type="ax21:WishListProfileItem"/>
                    <xs:element minOccurs="0" name="spsID" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="DeleteWishListRequest">
        <wsdl:part name="parameters" element="ns:DeleteWishList"/>
    </wsdl:message>
    <wsdl:message name="DeleteWishListResponse">
        <wsdl:part name="parameters" element="ns:DeleteWishListResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteWishListItemsRequest">
        <wsdl:part name="parameters" element="ns:DeleteWishListItems"/>
    </wsdl:message>
    <wsdl:message name="DeleteWishListItemsResponse">
        <wsdl:part name="parameters" element="ns:DeleteWishListItemsResponse"/>
    </wsdl:message>
    <wsdl:message name="AddItemsToWishListRequest">
        <wsdl:part name="parameters" element="ns:AddItemsToWishList"/>
    </wsdl:message>
    <wsdl:message name="AddItemsToWishListResponse">
        <wsdl:part name="parameters" element="ns:AddItemsToWishListResponse"/>
    </wsdl:message>
    <wsdl:message name="GetWishListItemsRequest">
        <wsdl:part name="parameters" element="ns:GetWishListItems"/>
    </wsdl:message>
    <wsdl:message name="GetWishListItemsResponse">
        <wsdl:part name="parameters" element="ns:GetWishListItemsResponse"/>
    </wsdl:message>
    <wsdl:portType name="WishListServicePortType">
        <wsdl:operation name="DeleteWishList">
            <wsdl:input message="ns:DeleteWishListRequest" wsaw:Action="urn:DeleteWishList"/>
            <wsdl:output message="ns:DeleteWishListResponse" wsaw:Action="urn:DeleteWishListResponse"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteWishListItems">
            <wsdl:input message="ns:DeleteWishListItemsRequest" wsaw:Action="urn:DeleteWishListItems"/>
            <wsdl:output message="ns:DeleteWishListItemsResponse" wsaw:Action="urn:DeleteWishListItemsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="AddItemsToWishList">
            <wsdl:input message="ns:AddItemsToWishListRequest" wsaw:Action="urn:AddItemsToWishList"/>
            <wsdl:output message="ns:AddItemsToWishListResponse" wsaw:Action="urn:AddItemsToWishListResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetWishListItems">
            <wsdl:input message="ns:GetWishListItemsRequest" wsaw:Action="urn:GetWishListItems"/>
            <wsdl:output message="ns:GetWishListItemsResponse" wsaw:Action="urn:GetWishListItemsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WishListServiceSoap11Binding" type="ns:WishListServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="DeleteWishList">
            <soap:operation soapAction="urn:DeleteWishList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteWishListItems">
            <soap:operation soapAction="urn:DeleteWishListItems" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddItemsToWishList">
            <soap:operation soapAction="urn:AddItemsToWishList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetWishListItems">
            <soap:operation soapAction="urn:GetWishListItems" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WishListServiceSoap12Binding" type="ns:WishListServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="DeleteWishList">
            <soap12:operation soapAction="urn:DeleteWishList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteWishListItems">
            <soap12:operation soapAction="urn:DeleteWishListItems" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddItemsToWishList">
            <soap12:operation soapAction="urn:AddItemsToWishList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetWishListItems">
            <soap12:operation soapAction="urn:GetWishListItems" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WishListServiceHttpBinding" type="ns:WishListServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="DeleteWishList">
            <http:operation location="WishListService/DeleteWishList"/>
            <wsdl:input>
                <mime:content type="text/xml" part="DeleteWishList"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="DeleteWishList"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteWishListItems">
            <http:operation location="WishListService/DeleteWishListItems"/>
            <wsdl:input>
                <mime:content type="text/xml" part="DeleteWishListItems"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="DeleteWishListItems"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddItemsToWishList">
            <http:operation location="WishListService/AddItemsToWishList"/>
            <wsdl:input>
                <mime:content type="text/xml" part="AddItemsToWishList"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="AddItemsToWishList"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetWishListItems">
            <http:operation location="WishListService/GetWishListItems"/>
            <wsdl:input>
                <mime:content type="text/xml" part="GetWishListItems"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="GetWishListItems"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WishListService">
        <wsdl:port name="WishListServiceHttpSoap11Endpoint" binding="ns:WishListServiceSoap11Binding">
            <soap:address location="http://esvcsqa.scholastic.com/SchWS/services/SPS/WishListService.WishListServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WishListServiceHttpsSoap11Endpoint" binding="ns:WishListServiceSoap11Binding">
            <soap:address location="https://esvcsqa.scholastic.com/SchWS/services/SPS/WishListService.WishListServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WishListServiceHttpSoap12Endpoint" binding="ns:WishListServiceSoap12Binding">
            <soap12:address location="http://esvcsqa.scholastic.com/SchWS/services/SPS/WishListService.WishListServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WishListServiceHttpsSoap12Endpoint" binding="ns:WishListServiceSoap12Binding">
            <soap12:address location="https://esvcsqa.scholastic.com/SchWS/services/SPS/WishListService.WishListServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WishListServiceHttpsEndpoint" binding="ns:WishListServiceHttpBinding">
            <http:address location="https://esvcsqa.scholastic.com/SchWS/services/SPS/WishListService.WishListServiceHttpsEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="WishListServiceHttpEndpoint" binding="ns:WishListServiceHttpBinding">
            <http:address location="http://esvcsqa.scholastic.com/SchWS/services/SPS/WishListService.WishListServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
