Shared/Libraries/WSDL2ObjC/SchWS_GetUserInfo_QA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://sps.schws.scholastic.com" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax23="http://utils.sps.schws.scholastic.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://sps.schws.scholastic.com">
    <wsdl:documentation>GetUserInfo</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax24="http://sps.schws.scholastic.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://utils.sps.schws.scholastic.com/xsd">
            <xs:import namespace="http://sps.schws.scholastic.com"/>
            <xs:complexType name="SchWSException">
                <xs:complexContent>
                    <xs:extension base="ax24:Exception">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="desc" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax25="http://utils.sps.schws.scholastic.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://sps.schws.scholastic.com">
            <xs:import namespace="http://utils.sps.schws.scholastic.com/xsd"/>
            <xs:element name="processRemote">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SPSWSXML" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="processRemoteResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="SchWSException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SchWSException" nillable="true" type="ax25:SchWSException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkIfValidPropertyRequested">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="checkIfValidPropertyRequestedRequest">
        <wsdl:part name="parameters" element="ns:checkIfValidPropertyRequested"/>
    </wsdl:message>
    <wsdl:message name="SchWSException">
        <wsdl:part name="parameters" element="ns:SchWSException"/>
    </wsdl:message>
    <wsdl:message name="processRemoteRequest">
        <wsdl:part name="parameters" element="ns:processRemote"/>
    </wsdl:message>
    <wsdl:message name="processRemoteResponse">
        <wsdl:part name="parameters" element="ns:processRemoteResponse"/>
    </wsdl:message>
    <wsdl:portType name="GetUserInfoPortType">
        <wsdl:operation name="checkIfValidPropertyRequested">
            <wsdl:input message="ns:checkIfValidPropertyRequestedRequest" wsaw:Action="urn:checkIfValidPropertyRequested"/>
            <wsdl:fault message="ns:SchWSException" name="SchWSException" wsaw:Action="urn:checkIfValidPropertyRequestedSchWSException"/>
        </wsdl:operation>
        <wsdl:operation name="processRemote">
            <wsdl:input message="ns:processRemoteRequest" wsaw:Action="urn:processRemote"/>
            <wsdl:output message="ns:processRemoteResponse" wsaw:Action="urn:processRemoteResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetUserInfoSoap11Binding" type="ns:GetUserInfoPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="checkIfValidPropertyRequested">
            <soap:operation soapAction="urn:checkIfValidPropertyRequested" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="SchWSException">
                <soap:fault use="literal" name="SchWSException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="processRemote">
            <soap:operation soapAction="urn:processRemote" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GetUserInfoSoap12Binding" type="ns:GetUserInfoPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="checkIfValidPropertyRequested">
            <soap12:operation soapAction="urn:checkIfValidPropertyRequested" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="SchWSException">
                <soap12:fault use="literal" name="SchWSException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="processRemote">
            <soap12:operation soapAction="urn:processRemote" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GetUserInfoHttpBinding" type="ns:GetUserInfoPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="checkIfValidPropertyRequested">
            <http:operation location="GetUserInfo/checkIfValidPropertyRequested"/>
            <wsdl:input>
                <mime:content type="text/xml" part="checkIfValidPropertyRequested"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="processRemote">
            <http:operation location="GetUserInfo/processRemote"/>
            <wsdl:input>
                <mime:content type="text/xml" part="processRemote"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="processRemote"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GetUserInfo">
        <wsdl:port name="GetUserInfoHttpSoap11Endpoint" binding="ns:GetUserInfoSoap11Binding">
            <soap:address location="http://esvcsqa.scholastic.com/SchWS/services/SPS/GetUserInfo.GetUserInfoHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GetUserInfoHttpsSoap11Endpoint" binding="ns:GetUserInfoSoap11Binding">
            <soap:address location="https://esvcsqa.scholastic.com/SchWS/services/SPS/GetUserInfo.GetUserInfoHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GetUserInfoHttpSoap12Endpoint" binding="ns:GetUserInfoSoap12Binding">
            <soap12:address location="http://esvcsqa.scholastic.com/SchWS/services/SPS/GetUserInfo.GetUserInfoHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GetUserInfoHttpsSoap12Endpoint" binding="ns:GetUserInfoSoap12Binding">
            <soap12:address location="https://esvcsqa.scholastic.com/SchWS/services/SPS/GetUserInfo.GetUserInfoHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GetUserInfoHttpsEndpoint" binding="ns:GetUserInfoHttpBinding">
            <http:address location="https://esvcsqa.scholastic.com/SchWS/services/SPS/GetUserInfo.GetUserInfoHttpsEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="GetUserInfoHttpEndpoint" binding="ns:GetUserInfoHttpBinding">
            <http:address location="http://esvcsqa.scholastic.com/SchWS/services/SPS/GetUserInfo.GetUserInfoHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
